.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 5px 3px 6px 2px;
    /*background-color: rgb(157, 201, 213);*/
}
.information{
    display: flex;
    background-color: rgb(194, 242, 255);
    margin-bottom: 50px;
    padding: 10px;
}
.fornecedor {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

.contact_container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.contact_container h1 span {
    color: #ffff27;
    padding: 0 0.2em;
}
.contact_container p {
    margin-bottom: 1.5em;
    color: #6d6b6b;
}
input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}
select {
    border: 2px solid #3E445B;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}